# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build and Publish Release

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-ubuntu:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js 15.x
      uses: actions/setup-node@v1
      with:
        node-version: 15.x
    - name: Install dependencies
      run: npm ci
    - name: Create Distributable
      run: npm run make
    - name: Upload Artifacts
      uses: actions/upload-artifact@master
      with:
        name: ubuntu
        path: |
          ./out/make/deb/x64/quest-for-gab-time_0.1.0_amd64.deb
          ./out/make/rpm/x64/Quest-For-Gab-Time_0.1.0-1.x86_64.rpm

  publish:
    
    needs: [build-ubuntu]
    
    runs-on: ubuntu-latest
    
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v2
        with:
          name: ubuntu
    
      - name: Display structure of downloaded files
        run: ls -R
